.touch-controls {
    position: fixed;
    bottom: 80px;
    left: 10px;
    right: 10px;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */

    @at-root body.isMobile & {
        display: flex;
    }

    .touch-controls__steering {
        display: flex;
    }

    .touch-controls__centre {
        display: flex;
        // flex-direction: column;
    }

    // .touch-controls__centre .touch-controls__button {
    //     height: 32px;
    //     line-height: 32px;
    //     width: 120px;
    //     font-size: 16px;
    //     text-transform: uppercase;
    // }

    .touch-controls__acceleration {
        display: flex;
        flex-direction: column;
    }

    .touch-controls__button {
        font-family: 'Genos', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        margin: 4px;
        padding: 0;
        border-radius: 8px;
        height: 50px;
        width: 50px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.12);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.14);
        transition: background-color 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;

        &.touch-controls__button--active {
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
        }        

        img {
            width: 1.2rem;
        }

        &.touch-controls__arrow-left {
            img { transform: rotate3d(0, 0, 1, -90deg); }
        }
        &.touch-controls__arrow-right {
            img { transform: rotate3d(0, 0, 1, 90deg); }
        }
        &.touch-controls__reverse {
            img { transform: rotate3d(0, 0, 1, 180deg); }
        }
    }
}
