* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    background-color: #262a2d;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


/*
    HUD
*/
.hud {
    position: absolute;
    pointer-events: none;
    display: flex;
    width: 30.0rem;
    justify-content: center;
    align-items: end;
    bottom: 2.0rem;
    left: calc(50% - 15.0rem);
    font-family: 'Genos', sans-serif;
    z-index: 1;
    color: white;
    /* border-bottom: 0.1rem solid linear- rgba(255, 255, 255, 0.5); */
}
.hud::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.0));
}

.hud .hud__rpm,
.hud .hud__kmh {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 0.1rem;
    border-radius: 0.6rem 0.6rem 0 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.hud .hud__rpm {
    flex: 0 0 8.0rem;
}
.hud .hud__rpm .rpm__value,
.hud .hud__kmh .kmh__value {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
}
.hud .hud__rpm .rpm__label,
.hud .hud__kmh .kmh__label {
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}
.hud .hud__gear {
    position: relative;
    flex: 0 0 6.0rem;
    font-size: 6.0rem;
    line-height: 5.0rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0.1rem;
    /* margin-top: -10px; */
}
.hud .hud__gear::before {
    content: '';
    z-index: -1;
    position: absolute;
    /* top: 2.0rem; */
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.0rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0.6rem 0.6rem 0 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
}
.hud .hud__kmh {
    flex: 0 0 8.0rem;
    text-align: center;
}

.hud .hud__leds {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.4rem;
    display: flex;
    justify-content: center;
}
.hud .hud__leds .hud__led {
    border-radius: 0.1rem;
    width: 0.7rem;
    height: 0.1rem;
    background-color: rgb(180, 180, 180);
    margin: 0.3rem;
    border: 0.1rem solid rgb(220, 220, 220);
}
.hud .hud__leds .hud__led.red {
    background-color: #f21629;
    border-color: #f21629;
}



/*
    Touch controls
*/
.touch-controls {
    position: fixed;
    bottom: 100px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
.touch-controls .touch-controls__steering {
    display: flex;
}
.touch-controls .touch-controls__centre {
    display: flex;
    flex-direction: column;
}
.touch-controls .touch-controls__centre .touch-controls__button {
    height: 32px;
    line-height: 32px;
    width: 120px;
    font-size: 16px;
    text-transform: uppercase;
}
.touch-controls .touch-controls__acceleration {
    display: flex;
    flex-direction: column;
}
.touch-controls .touch-controls__button {
    font-family: 'Genos', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin: 4px;
    padding: 0;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.14);
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.touch-controls .touch-controls__button.touch-controls__button--active {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}
